@CHARSET "UTF-8";

body
{
	background-color:#BB0000;
	color:white;
}

a
{	
	text-decoration:none;
	color:white;
	style:font="bold";
  /* First we need to help some browsers along for this to work.
     Just because a vendor prefix is there, doesn't mean it will
     work in a browser made by that vendor either, it's just for
     future-proofing purposes I guess. */
  -o-transition:1s;
  -ms-transition:1s;
  -moz-transition:1s;
  -webkit-transition:1s;
  /* ...and now for the proper property */
  transition:1s;
}

a:hover
{
	color:black;	
}
a.active
{
	color:black;
}

