/*tausta ja teksti värv*/
body
{
	background-color:#BB0000;
	color:white;
	font-family:Helvetica;
}

/*lingid*/
a
{	
	text-decoration:none;
	color:white;
	font-size:15px;
	font-weight:bold;
 	transition:1s;
}
a:hover
{
	color:black;	
}
a.active
{
	color:black;
	
}

/*menüü*/
.menubutton
{
	padding-right:15px;
	padding-left:15px;
}
.menu
{
	margin-top:50px;
	margin-bottom:10px;
	text-align:left;
}

/*MENÜÜ ja allailmuv alamenüü*/
nav {
	margin-top:50px;
	margin-bottom:10px;
}
nav ul {
	list-style: none;
	position: relative;
	display: inline-table;
}
nav ul:after {
	content: ""; clear: both; display: block;
}
nav ul li {
	float: left;
}/*
nav ul li:hover {
	background: #4b545f;
}*/
nav ul li:hover a {

	}
nav ul li:hover > ul {
	display: block;
}
	
nav ul li a {
	display: block; 
	/*padding: 25px 40px;*/
	padding-bottom:10px;
	text-decoration: none;
}
nav ul ul {
	display: none;
	background:#BB0000;
	border-radius: 0px; 
	padding: 0;
	position: absolute;
	top: 100%;
	padding-right:15px;
	padding-left:15px;
}
nav ul ul li {
	float: none; 
}
nav ul ul li a {
	
	color: #fff;
}	

hr
{
	margin-left:0px;
	width:637px;
}

/*logo*/
.logo 
{
	margin-left:-40px;
	margin-top:-60px;
	float:left;
}

/*logimine*/
.login1 
{
    margin-left:100px;
    height: 124px;
    width: 333px;
}
.login2 
{
    margin-left:125px;
    margin-top:-40px;
    height: 58px;
    width: 280px;
    
}

/*slogan*/
.slogan
{
	width:350px;
	margin-left:130px;
	margin-top:150px;
}

/*hiljutised sündmused*/
.last_events 
{
	margin-left:600px;
	margin-top:-330px;
    height: 397px;
    width: 368px;
}

/*minu sündmused*/
.my_events
{
	margin-top:55px;
	float:left;
    height: 303px;
    width: 600px;
}

/*sündmused*/
.event_type
{
	margin-top:50px;
	margin-bottom:10px;
    margin-left:260px;
}
.event_type > h2
{
	position:relative;
	width:300px;
	display:inline-block;
}
.events
{
	margin-left:260px;
	margin-top:20px;
	float:left;
    height: 303px;
    width: 636px;
}

/*lisa sündmus*/
.add_event 
{
	margin-left:260px;
	margin-top:80px;
	text-align:left;
}
.nupp
{
	
	padding:5px;
	display:inline-block;
	border:outset 2px black;

}

.search_event 
{
	margin-left:260px;
	margin-top:80px;
	text-align:left;
}
